body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E1E1E;
  background-image: url(./components/img/background3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* body::after { */
  /* content: ""; */
  /*  */
  /* opacity: 0.7; */
  /* top: 0; */
  /* left: 0; */
  /* bottom: 0; */
  /* right: 0; */
  /* position: absolute; */
  /* z-index: -1;    */
/* } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 90%;
  margin-left: 4em;
  color: white;
  font-size: 16px;
  font-family: 'Bree Serif', serif;
  font-weight: bolder;
  margin-top: auto;
}

.footerList{
  display: flex;
  flex-direction: row;
}

.footer-icon{
  width: 35px;
}

footer li{
  list-style-type: none;
}
footer img{
  vertical-align: middle;
}

footer a {
  color: white;
  text-decoration: none;
}

header a:hover, footer a:hover {
  color: rgb(	129,	208,	147);
}

.art-container  {
  /* background-color: rgba(	129,	208,	147, 0.7); */
  margin: 0 2em 3em 2em;
  /* border-radius:50px; */
  height: 67vh;
  overflow: scroll;
}

.project-container{
  /* background-color: rgba(	129,	208,	147, 0.7); */
  margin: 0 5em 3em 5em;
  /* border-radius:50px; */
  height: 67vh;
  overflow: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.project-container::-webkit-scrollbar, .art-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.project-container, .art-container {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
nav{
  height: 100%;
  display: flex;
}

/* about animation */
.title{
  text-align: start;
  color: #fff;
}

.rotate-words{
  display: inline;
  /* margin-left: 10px; */
}
.title-card1{
  --d: 0s;
}

.title-card2{
  --d: 4s;
}
.title-card3{
  --d: 8s;
}
.rotate-words span{
  width: max-content;
  position: absolute;
  background-color: #ffdd40;
  padding-inline:  10px;
  opacity: 0;
  transform-origin:  20% 75%;
  animation: rotateWords 12s
  var(--d) linear infinite;
}

@keyframes rotateWords {
  5% {
    opacity: 1;
  }
    10%,20%{
      opacity: 1;
      transform: rotate(3deg);
  }
  15% {
    transform: rotate(-1deg);
  }
  25%{
    opacity: 0;
    transform: translateY(90px)
    rotate(10deg);
  }
}

/* art works */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 10%;
  padding: 0 10px;

  /* margin: 0 2em; */
}

.column img {
  margin-top: 20px;
  width:100%;
  height: 500px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4em;
  /* justify-content: center; */
  /* align-items: center; */
 
}

/****** art works image titles ******/
.img-title{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 3em;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition:all 1s linear; 
  color: white;
  /* opacity: 0; */
}
.artImg-wrapper{
  position: relative;
  margin-top: 0;
}
.artImg-wrapper img{
  transition:all s linear; 
}
.artImg-wrapper img:hover{
  opacity: 0.8;
}
/* .img-title:hover{ */
  /* opacity: 1; */
/* } */
/* .pro-page{ */
  /* color: #FFF; */
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* gap: 0.5em; */
  /* width: 90%; */
/* } */
/* .pro-deco { */
  /* content: ''; */
  /* min-width: 10%; */
  /* height: 8px; */
  /* display: inline-block; */
  /* background: #005f73; */
  /* vertical-align: middle; */
/* } */

/* education card */
.edu-page {
  color: #FFF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  width: 90%;
  /* margin-top: 0.5em; */
}
.about-deco {
  content: '';
  min-width: 10%;
  height: 4px;
  display: inline-block;
  background: #005f73;
  vertical-align: middle;
}
.edu-deco {
  content: '';
  min-width: 10%;
  height: 8px;
  display: inline-block;
  background: #005f73;
  vertical-align: middle;
}
.card_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}
.card{
  position: relative;
  width: 500px;
  height: 300px;
  color: #a18a96;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  margin:1em;
}
.card_content{
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-top-left-radius: 20px;
  transform: translateY(70px);
  transition: transform .25s;
}
.card_content::before{
  content: '';
  position: absolute;
  top: -47px;
  right: -60px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 60px 48px #fff;
}
.card_title {
  color: #6A515E;
  line-height: 15px;
  font-size: 24px;
}
.card_subtitle{
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}
.card_course{
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}
.card:hover .card_content{
  transform: translateY(0);
}
.card:hover .card_course {
  opacity: 1;
  transition-delay: .25s;
}

.contactForm {
  text-align: start;
  width: 500px;
  margin: 20px auto;
}

Form {
  margin-top: 50px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
}

.field>label {
  color: white !important;
}

.ui.green.button {
  background: #005f73;
}

@media (max-width: 960px) {
  #header{
    /* background-color: rgba(	129,	208,	147, 0.8) !important; */
    background-color: #0a9396;
    margin: auto 0;
    padding: 0 3em;
  }

  #site-name{
    margin: 18px 0;
    font-size: 36px;
  }

  .footer{
    display: flex !important;
    flex-direction: column-reverse !important;
    margin-left: 0 !important;
    margin-top: 2em;
    position: relative;
  }
  .footer-copy{
    padding-left: 2em;
    color: rgb(212, 204, 204);
  }

  .footer-name{
    display: none;
  }
  .footer-icon{
    width: 35px;
  }
  body{
  background-color: #1E1E1E;
  background-image: url(./components/img/watercolor-plant.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

  /* #portrait{ */
    /* display: none; */
  /* } */
  .portrait2{
    background-image: url(./components/img/IMG_3057.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;/*width of your image*/
    height:600px;
    margin-top: 2em;
  }

  .home-style{
    display: flex !important;
    flex-direction: column !important;
   /*  height: 200px !important; */
    width: 100% !important;
    padding: 0 2em !important;

    /* justify-content: center !important; */
    /* align-items: center !important; */
  }


  .rotate-words span{
    color: white;
  }
  .project-container{
   /*  margin: 0 1em; */
    margin: 1em;
    border-radius:50px;
    background-color: rgba(	129,	208,	147, 0.7);
    height: 100%;
  }
  .content-wrapper{
    margin-top: 0 !important; 
  }
  .proButton{
    margin-bottom: 1em !important;
  }

  /* art works */
  .column {
    -ms-flex: 100%;
    flex: 100%;
    width: 100%;
  }
  .column img {
    height: 100%;
  }
  .row{
    --bs-gutter-x: 0 !important;  
    width: 90%;
    padding: 0;
    
  }

  /* education */
  .edu-page {
    margin-top: 1em;
    color:#005f73;
    font-weight: bolder;
    gap: 10px;
    width: 90%;
  }
  .edu-deco, .about-deco{
    background: #ffdd40;
    min-width: 15%;
    height: 6px;
  }
  .about-deco{
    height: 4px;
  }
  .card{
    max-inline-size: -webkit-fill-available;
    max-width: -moz-available;
    margin: 1em 0;
    
  }  
  .card_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height:700px ; */
  }
  .card-wrapper{
    padding-top: 1em !important;
    padding-bottom: 1em !important;;
  }

  .contactForm {
    /* text-align: start; */
    /* width: 500px !important; */
    /* margin: 20px auto; */
    color: #005f73;
    width: 300px;
  }

  .field>label {
    color: #005f73 !important;
  }

}